.chatscreen-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  position: relative;
}

.chatscreen-container-messages {
  display: flex;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
  padding: 1rem;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15%;
}

.chatscreen-container-messages::-webkit-scrollbar {
  display: none;
}

.chatscreen-inputbar {}