.message-container {
  width: 80%;
  height: auto;
  padding: 1rem;
  padding-top: 0;
  margin: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  /* border: 0.3px solid #fff; */
  scale: 1;
  transition: 1s;
}

.message-container:hover {
  scale: 1.1;
  transition: 1s;
}

.message-container-header {
  /* flex: 1 1 auto; */
  color: #898AC4;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid #fff; */
}

.message-container-body {
  /* flex: 1 0 auto; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 90%;
  /* border: 1px solid #fff; */
}

.item {
  word-break: break-all;
  overflow-wrap: break-word;
}

.date-container {
  display: flex;
  width: 100%;
  margin: 1rem;
  justify-content: center;
}

.date-container-date {
  background-color: #393E46;
  padding: 0.5rem;
  padding-bottom: 0.01rem;
  padding-top: 0.01rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #fff;
  font-size: 30px;
}


.user-profile-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.user-name-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
}

.user-name-item {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 5px solid #FFD700;
  color: #FFD700;
  font-weight: 500;

}

.userlogin-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.userlogin-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80%;
  background-color: #555879;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.input-bar-user {
  margin-top: 20%;
  padding: 5%;
  font-size: 30px;
  margin-bottom: 10%;
}

button {
  background-color: #2F5249;
  padding: 2%;
  margin-bottom: 20%;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
}

.leave-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 0;
  top: 0;
  background-color: #fff;
  margin: 1.3%;
  scale: 1;
  transition: 1s;
}

.leave-button:hover {
  scale: 1.3;
  transition: 1s;
}