/* ---- start of dashboard icon file ----- */

.dashboard-icon-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  border-radius: 20px;
  /* background-color: #fff; */
}

.dashboard-icon-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}




.user-container {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  flex: 0 0 95%;
  width: 95%;
  /* height: 100%; */
  /* background-color: #fff; */
  padding: 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.single-user {
  width: 100%;
  height: 10%;
  border-radius: 2px;
}

.inputbar-container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0.2rem;
  overflow: hidden;
  border-radius: 15px;
  background-color: #555879;
}

.input-bar {
  border-right: 10px;
  width: 90%;
  /* height: 90%; */
}

input {
  all: unset;
  font-size: 25px;
  color: #fff;
}

.inputbar-button {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #98A1BC;
}

.inputbar-button-container {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}